@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SpaceGrotesk';
    src: url(/fonts/space-grotesk/SpaceGrotesk-Light.otf) format('OpenType');
    font-weight: 300;
    font-display: swap;
  }
  @font-face {
    font-family: 'SpaceGrotesk';
    src: url(/fonts/space-grotesk/SpaceGrotesk-Regular.otf) format('OpenType');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'SpaceGrotesk';
    src: url(/fonts/space-grotesk/SpaceGrotesk-Medium.otf) format('OpenType');
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'SpaceGrotesk';
    src: url(/fonts/space-grotesk/SpaceGrotesk-SemiBold.otf) format('OpenType');
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: 'SpaceGrotesk';
    src: url(/fonts/space-grotesk/SpaceGrotesk-Bold.otf) format('OpenType');
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: 'Racing';
    src: url(/fonts/racing/RacingSansOne-Regular.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
  }
}
